body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-prod {
  display: flex;
  justify-content: center;
}

.prod-img {
  height: auto;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sortinglinks {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

/* ---------------Navbar.js CSS--------------- */

.navbar {
  display: flex;
}
