body {
  font-family: sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

form {
  display: flex;
  flex-direction: column;
}

/* search bar start */

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a > p:hover {
  background-color: grey;
}
.searchInputs {
  display: flex;
}
.search input {
  background-color: white;
  border: black solid 1px;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: grey;
  display: grid;
  place-items: center;
}

#clearBtn {
  cursor: pointer;
}

/* search bar start */

input,
button {
  height: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sortinglinks {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

/* ---------------Navbar.js CSS--------------- */

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-user,
.navbar-guest {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
}

/* ---------------Navbar.js CSS--------------- */
.ct {
  display: flex;
}

.ct-uc {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* height: 50vh; */
  min-height: 100vh;
  padding-bottom: 400px;
}

.ct-uc-empty {
  width: 300px;
  text-align: center;
}

.ct-uc-header {
  display: flex;
  justify-content: center;
}

.ct-uc-header h3 {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.ct-uc-items {
  height: 250px;
}

.ct-uc-item {
  display: flex;
  padding: 1rem;
  width: 100%;
  /* padding-bottom: 400px; */
}

.ct-checkout {
  margin-top: auto;
  width: 100%;
  padding: 1rem;
  /* height: 130px; */
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
}

.ct-checkout h3 {
  margin: 0;
}

.ct-checkout-p {
  width: 250px;
}

.ct-checkout-p p {
  line-height: 1.1rem;
  font-size: 0.7rem;
}

.ct-uc-item-img {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.ct-uc-item-img img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.ct-uc-item-desc {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.ct-uc-item-desc h4 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  text-transform: uppercase;
}

.ct-uc-item-brand {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.ct-uc-item-qty-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ct-uc-item-price {
  width: 150px;
  font-weight: bold;
}

.ct-uc-item-qty {
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: relative;
  margin-left: 20px;
}

.ct-quantity {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.ct-uc-item-del {
  cursor: pointer;
  height: 20px;
}

.ct-uc-arrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

/* #checkout-btn {
  background-color: white;
  color: black;
  border: none;
  width: 150px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
} */

/* ---------------Products.js CSS--------------- */

.pds {
  display: flex;
  flex-wrap: wrap;
}

.pds-filter {
  width: 100%;
}

.pds-filter h2 {
  text-align: center;
}

.pds-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pds-product {
  display: flex;
  width: 250px;
  height: 300px;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  /* background-color: rgb(235, 249, 255); */
}

.pds-product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.pds-product-wrapper {
  display: flex;
  justify-content: center;
}

.pds-product-name {
  text-align: center;
}

/* ---------------SingleProduct.js CSS--------------- */

.sp {
  display: flex;
  height: 80vh;
  justify-content: center;
}

.sp-left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sp-right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.sp-img {
  height: 60vh;
  /* width: 50vh; */
  object-fit: contain;
  /* border: 1px solid black; */
}

.sp-desc {
  width: 70%;
}

/* .sp-desc-name {
  background-color: black;
  color: white;
  padding: 1rem;
} */

.sp-desc h2 {
  display: inline-block;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1rem;
}

.sp-desc h3 {
  margin-top: 0;
}

.sp-desc p {
  line-height: 1.5rem;
}

.sp-desc-price h3 {
  display: inline-block;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.sp-buttons {
  display: flex;
  padding-bottom: 1rem;
}

.sp-quantity {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

/* ---------------OrderHistory.js CSS--------------- */

.oh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oh-title h1 {
  text-align: center;
}

.oh-order {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* ---------------Admin CSS--------------- */

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
}

.formik {
  display: flex;
  flex-direction: column;
  align-items: center;
}
